/Ch2_Checkpoint.class
/Ex2_10ComputeChange.class
/Ex2_1_ComputeRadiusWithInput.class
/Ex2_2_ComputeAverage.class
/Ex2_3_DisplayTime.class
/Ex2_4FtoCCalculator.class
/Ex2_5SalesTax.class
/Ex2_9ComputeLoan.class
/Ex2_GetCurrentTime.class
